.gridWrapper {
  @import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Lora:wght@700&display=swap'); 
  height: 100vh;
  height: -webkit-fill-available;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 3fr;
  grid-template-areas: 
    "header"
    "wordMatrix"
    "keyboard";
  place-items: center center;
  outline: none;
}

.header{
  grid-area: header;
  display: flex;
  width: 100%;
  justify-content: center;
}

.statsButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statsButton {
  background-color: rgb(42, 65, 95);
  border-radius: 15%;
  padding: 8px;
  border: 0;
  color: white;
}

.statsButton:hover{
  background-color: rgba(42, 65, 95, 0.856);
}

.title {
  font-family: 'Lora', serif;
  font-size: 3rem;
}

.titleRight, .statsButtonContainer {
  /* width: 10px; */
  flex-grow: 0.5;
  flex-basis: 0;
}
