body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.yellow {
  background-color: #c9b458 !important;
  color: white !important;
}

.green {
  background-color: #6aaa64 !important;
  color: white !important;
}

.black {
  background-color: #787c7e !important;
  color: white !important;
}

.wiggle {
  animation-duration: 0.15s;
  animation-name: wiggle;
}

@keyframes wiggle {
  from {
    transform: rotate(0turn);
  }
  25% {
    transform: rotate(0.03turn)
  }
  75% {
    transform: rotate(-0.03turn);
  }
  to {
    transform: rotate(0turn);
  }
}

.erase {
  animation-duration: 0.15s;
  animation-name: erase;
}

@keyframes erase {
  from {
    transform: translate(0px);
  }
  25% {
    transform: translate(16px);
  }
  75% {
    transform: translate(-16px);
  }
  to {
    transform: translate(0px)
  }
}

.filledBorder {
  border: 2px black solid !important;
}

.flip {
  animation-duration: 0.75s;
  animation-name: flip;
}
@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.correct {
  animation-duration: 0.5s;
  animation-name: correct;
}
@keyframes correct {
  from {
    transform: translate(0);
  }
  50% {
    transform: translate(0, -16px);
  }
  to {
    transform: translate(0)
  }
}