.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px auto;
  grid-template-areas: 
    "close"
    "stats"
    "guessDistribution";
  background-color: whitesmoke;
  height: 75%;
  width: 75%;
  padding: 8px;
}

.guessDistribution {
  grid-area: guessDistribution;
}

.guessDistributionTitle {
  text-align: center;
}

.close {
  grid-area: close;
  justify-self: end;
}

:root {
  --bar-width: 100%;
}

.guessNumber {
  width: 16px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.historyBar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 25px;
  background-color: #6AAA64;
  color: white;
  margin-bottom: 4px;
  padding-right: 4px;
}

.statContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statisticsContainer {
  grid-area: stats;
  display: flex;
  justify-content: center;
}

.statSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.statSection :first-child {
  font-size: 24px;
}